@media screen and (max-width: 768px) {
    :global(main) {
    height: 100vh;
    width: 100%;
    justify-content: center;
}

    .logoContainer {
        width: 140px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
